* {
  padding: 0;
  margin: 0;
}
/* Body */

body {
  background-image: url(../img/walpaper.png);
  background-size: cover;
  background-position: center center;
  color: white;
  font-family: "Kanit", sans-serif;
  font-family: "Merriweather Sans", sans-serif;
  font-family: "Oswald", sans-serif;
  background-color: #000;
    overflow-x: hidden;
}
body ::selection {
  background-color: #1b8048;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
}
.logo {
  height: 40%;
  width: 40%;
  margin-top: 1%;
  margin-left: 1%;
}

/* Nav */
.nav {
  text-align: center;
  margin-right: 7%;
  color: #000;
}

.nav ul :hover {
  background-color: #b6202d;
}

.nav ul {
  list-style: none;
  display: inline-block;
  padding: 0;
  transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
}

.nav ul li {
  display: inline-block;
}

.nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.nav ul li a:hover {
  text-decoration: none;
}

/* Main */
.main {
  margin-top: 7%;
  padding: 3%;
}
.contenedor {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.h1teclados {
  z-index: 1;
  margin-bottom: 10%;
  margin-top: 10%;
}
.item {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 100%;
  height: 150px;
  text-align: center;
  margin: 0 auto;
  transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
  border: 2px solid transparent;
  overflow: hidden;
  justify-content: flex-end;
}
.item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px #ff0000;
  border: 2px solid red;
  background-color: black;
  z-index: 2;
}
.item img {
  max-width: 100%;
  max-height: 100%;
  width: 75%;
  height: auto;
}

.itemabajo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  max-width: 351px;
  margin-left: 65%;
  margin-top: 20%;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
  border: 2px solid transparent;
}
.itemabajo:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px #ff0000;
  border: 2px solid red;
  background-color: black;
  z-index: 2;
}
.itemabajo img {
  max-width: 100%;
  max-height: 100%;
  width: 75%;
  height: auto;
}
.producto {
  width: 100%;
  height: auto;
}

.tipos{
  margin-top: 5%;
  text-align: center;
  margin-bottom: 5%;
  font-size: xx-large;
}
.tipos2{
  margin-top: 5%;
  text-align: center;
  align-items: flex-end;
  display: flex;
  margin-right: 12%;
  margin-left: 16%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: xx-large;
}
.destacados {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  padding: 20px;
}

.item_destacados {
  padding: 15%;
  margin: 10px;
  width: 70%;
  display: flex;
}

.section-padre {
  z-index: 1;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  top: 100px;
  width: 100%;
}

.section-padre section:hover {
  transform: scale(1.1);
  background-color: black;
  box-shadow: 0 4px 8px #007936;
  border: solid rgb(4, 182, 108);
}
.section {
  border: solid white;
  background-color: black;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  color: white;
  text-decoration: none;
  margin: 20px;
  width: 100%;
  max-width: 70%; /*Cualquier cosa en 80%*/
  transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
}
.content {
  flex: 2;
}
.image-container {
  position: relative;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  flex: 1;
  margin-right: 20px;
}

.especificaciones {
  flex: 2;
  align-self: stretch;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

/* Footer */
footer {
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px;
  width: 100%;
  bottom: 0;
  border-top: solid rgb(18, 99, 22);
}
.redes_sociales {
  font-size: 28px;
  display: flex;
  justify-content: center;
}
.redes_sociales i {
  margin: 10px;
}
.copi {
  color: white;
  font-size: 13px;
  opacity: 20%;
}
